[submodule "NiChart_Project_Resources"]
	path = NiChart_Project_Resources
	url = https://github.com/CBICA/NiChart_Project_Resources
[submodule "Image_Processing/sMRI/DLMUSE"]
	path = Image_Processing/sMRI/DLMUSE
	url = https://github.com/CBICA/DLMUSE
[submodule "Image_Processing/sMRI/DLICV"]
	path = Image_Processing/sMRI/DLICV
	url = https://github.com/CBICA/DLICV
[submodule "Image_Processing/fMRI/fmriprep"]
	path = Image_Processing/fMRI/fmriprep
	url = https://github.com/nipreps/fmriprep
[submodule "Image_Processing/DTI/qsiprep"]
	path = Image_Processing/DTI/qsiprep
	url = https://github.com/PennLINC/qsiprep
[submodule "Machine_Learning/SurrealGAN"]
	path = Machine_Learning/SurrealGAN
	url = https://github.com/zhijian-yang/SurrealGAN
[submodule "Image_Processing/sMRI/NiChart_DLMUSE"]
	path = Image_Processing/sMRI/NiChart_DLMUSE
	url = https://github.com/CBICA/NiChart_DLMUSE
[submodule "Machine_Learning/spare_score"]
	path = Machine_Learning/spare_score
	url = https://github.com/CBICA/spare_score
[submodule "Image_Processing/fMRI/xcp_d"]
	path = Image_Processing/fMRI/xcp_d
	url = https://github.com/PennLINC/xcp_d
[submodule "Harmonization/ComBatFam_Pipeline"]
	path = Harmonization/ComBatFam_Pipeline
	url = https://github.com/PennSIVE/ComBatFam_Pipeline
[submodule "Harmonization/NiChart_Harmonize"]
	path = Harmonization/NiChart_Harmonize
	url = https://github.com/CBICA/NiChart_Harmonize
[submodule "NiChart_Viewer"]
	path = NiChart_Viewer
	url = https://github.com/gurayerus/NiChart_Viewer
[submodule "Image_Processing/fMRI/pNet"]
	path = Image_Processing/fMRI/pNet
	url = https://github.com/CBICA/pNet
[submodule "Machine_Learning/GeneSGAN"]
	path = Machine_Learning/GeneSGAN
	url = https://github.com/CBICA/GeneSGAN
[submodule "Machine_Learning/SmileGAN"]
	path = Machine_Learning/SmileGAN
	url = https://github.com/CBICA/SmileGAN
[submodule "Image_Processing/sMRI/NiChart_Tissue_Segmentation"]
	path = Image_Processing/sMRI/NiChart_Tissue_Segmentation
	url = https://github.com/CBICA/NiChart_Tissue_Segmentation
[submodule "Image_Processing/sMRI/SOPNMF"]
	path = Image_Processing/sMRI/SOPNMF
	url = https://github.com/CBICA/SOPNMF
[submodule "NiChart_Website"]
	path = NiChart_Website
	url = https://github.com/CBICA/NiChart_Website
[submodule "src/Harmonization/NiChart_Harmonize"]
	path = src/Harmonization/NiChart_Harmonize
	url = https://github.com/CBICA/NiChart_Harmonize
[submodule "src/Image_Processing/DTI/qsiprep"]
	path = src/Image_Processing/DTI/qsiprep
	url = https://github.com/PennLINC/qsiprep/
[submodule "src/Image_Processing/fMRI/pNet"]
	path = src/Image_Processing/fMRI/pNet
	url = https://github.com/CBICA/pNet
[submodule "src/Harmonization/ComBatFam_Pipeline"]
	path = src/Harmonization/ComBatFam_Pipeline
	url = https://github.com/PennSIVE/ComBatFam_Pipeline
[submodule "src/Image_Processing/fMRI/fmriprep"]
	path = src/Image_Processing/fMRI/fmriprep
	url = https://github.com/nipreps/fmriprep
[submodule "src/Image_Processing/fMRI/xcp_d"]
	path = src/Image_Processing/fMRI/xcp_d
	url = https://github.com/PennLINC/xcp_d
[submodule "src/Image_Processing/sMRI/NiChart_Tissue_Segmentation"]
	path = src/Image_Processing/sMRI/NiChart_Tissue_Segmentation
	url = https://github.com/CBICA/NiChart_Tissue_Segmentation
[submodule "src/Image_Processing/sMRI/SOPNMF"]
	path = src/Image_Processing/sMRI/SOPNMF
	url = https://github.com/anbai106/SOPNMF
[submodule "src/NiChart_Viewer"]
	path = src/NiChart_Viewer
	url = https://github.com/CBICA/NiChart_Viewer
[submodule "src/NiChart_Website"]
	path = src/NiChart_Website
	url = https://github.com/CBICA/NiChart_Website
[submodule "src/Image_Processing/sMRI/DLICV"]
	path = src/Image_Processing/sMRI/DLICV
	url = https://github.com/CBICA/DLICV.git
	branch = main
[submodule "src/Image_Processing/sMRI/DLMUSE"]
	path = src/Image_Processing/sMRI/DLMUSE
	url = https://github.com/CBICA/DLMUSE.git
	branch = localdownload
[submodule "src/NiChart"]
	path = src/NiChart
	url = https://github.com/CBICA/NiChart_Viewer.git
	branch = viewer_streamlit
[submodule "src/Image_Processing/sMRI/NiChart_DLMUSE"]
	path = src/Image_Processing/sMRI/NiChart_DLMUSE
	url = https://github.com/CBICA/NiChart_DLMUSE.git
