# NiChart packages
spare-scores
NiChartHarmonize
DLICV
DLMUSE
NiChart_DLMUSE>=1.0.9
DLWMLS @ git+https://github.com/CBICA/DLWMLS

# general python dependencies
torch==2.2.1
argparse
nibabel
pulp==2.7.0
tabulate==0.8.10
sphinx

# streamlit
streamlit==1.39.0
st_pages==1.0.1
streamlit_plotly_events
streamlit-base-extras
streamlit-extras
chart_studio
Jinja2
plotly-express
stqdm
pyjwt

# chatbot 
boto3
