# NiChart packages
spare-scores
NiChartHarmonize
DLICV
DLMUSE
NiChart_DLMUSE

# general python dependencies
torch>=2.2.1,<=2.3.1
argparse
nibabel
pulp==2.7.0
tabulate==0.8.10
sphinx

# streamlit
st_pages==1.0.1
streamlit_plotly_events
chart_studio
Jinja2
plotly-express
stqdm
