# general python dependencies
torch>=2.2.1
argparse
nibabel>=5.2
mamba
snakemake
pulp==2.7.0
tabulate==0.8.10
sphinx==6.2.1
huggingface_hub
scipy
pathlib

# streamlit
st_pages==1.0.1
streamlit_plotly_events
chart_studio
Jinja2
plotly-express

# NiChart packages
DLICV>=1.0.1
DLMUSE>=1.0.1
spare-scores
NiChartHarmonize
#NiChart_DLMUSE