.visualizationContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

/* Container for all controls */
.controlsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px;
    justify-content: space-between;
    border-bottom: 1px solid #ccc; 
    width: 90%;
}

/* Container for the selectors */
.chartControls {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.chartControl {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

