.sidebar {
    background-color: #f2f2f2;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15), 0 6px 20px rgba(0, 0, 0, 0.05);
  }
  
  .sidebar nav {
    position: sticky;
    top: 15%;
  }
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar li {
    margin-bottom: 2.5rem;
  }
  
  .sidebar a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
  }
  
  .sidebar a:hover {
    text-decoration: underline;
  }
  
  /* Indentation for subsections */
  .sidebar ul ul {
    margin-left: 1.5rem;
    padding-top: 1rem;
  }
  
  .sidebar ul ul li {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

.collapsibleSection > a > span {
    /* triangle is the left border of a zero-width, zero-height element */
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 8px solid #333;
    margin-right: 10px;
    transition: transform 0.3s ease-in-out;
  }
  
  .rotated {
    transform: rotate(90deg);
  }
  
  .innerSection {
    margin-top: 0.5rem;
  }
  .innerSection a {
    font-size: 0.95rem;
  }

  .referenceDataset:hover {
    color: #a11f25
  }
  
  .imageProcessing:hover {
    color: #2152ad
  }
  
  .harmonization:hover {
    color: #92da44
  }
  
  .machineLearning:hover {
    color: #e9a944
  }
  
  .dataVisualization:hover {
    color: #f5e852
  }
  
  .deployment:hover {
    color: #ac29d8
  }
  