.container {
  display:grid;
  grid-template-columns:100%;
  grid-template-rows:auto 1fr auto;

  /* fallback height */
  min-height:100vh;

  /* new small viewport height for modern browsers */
  min-height:100svh;
}

.title {
  padding: 1rem;
  margin-left: 1rem;
}

.contactContainer {
  display: block; /* Default to block layout */
  padding: 1rem;
}

.contactForm {
  max-width: 700px;
  margin-top: 10%;
  padding: 1rem;
  align-self: start; /* Align to the top of the grid area */
}

.googleMaps {
  min-height: 700px;
  padding: 5%;
  margin-bottom: 5%;
}

@media (min-width: 1200px) {
  .contactContainer {
      display: grid;
      grid-template-columns: 0.8fr 1fr;
      gap: 50px;
      padding: 5%;
  }

  .contactForm {
    max-width: 700px;
  }
}

@media (max-width: 1200px) {
  .contactContainer {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; 
  }
}