.header {
  position: sticky;
  top: 0%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: solid;
  border-color: #f2f2f2;
  border-width: 5px;
  background-image: linear-gradient(to right, #000000, #000000);
  z-index: 1000; /* Adjust this value as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.05);
}

.logos {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.logo img {
  max-height: 130px;
  height: auto;
}

.logo:hover {
  transform: scale(1.05); /* Scales up the container slightly on hover */
}

.header nav {
  display: flex;
  align-items: flex-end;
}

.menuIcon {
  cursor: pointer;
  font-size: 1.5rem;
}

.navList {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1rem;
}

.navList li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  position: relative;
}

.navList li a::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s ease;
}

.navList li a:hover::after {
  width: 100%;
}

.menuIcon {
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}


.divider {
  border-right: 4px solid #fff; /* White vertical line */
  height: 40px; /* Adjust height as needed */
  align-self: center; /* To vertically center the divider */
}

/* Portal Link (The text inside the box) */
.portal {
  padding: 5px 10px;
  display: block; /* Change to block to fill the .portalItem area */
  text-decoration: none; /* Removes underline from the link */
  border: 3px solid #fff;  /* White border */
  transition: transform 0.3s ease; /* Smooth transition for the zoom effect */
}

/* Hover effect for the portal item */
.portal:hover {
  transform: scale(1.1); /* Zoom effect on hover for the whole item */
}

/* Hover effect for the portal item */
.portal a:hover {
  transform: scale(1.1); /* Zoom effect on hover for the whole item */
}

/* Ensure the underline does not appear for the portal item */
.portal a::after {
  display: none; /* This will ensure the underline doesn't show */
}

/* Adjust hover effect for non-portal links */
.navList li a:hover::after {
  width: 100%;
}

/* Specific rule to remove underline effect on hover for the portal */
.portal:hover::after {
  width: 0; /* Remove the effect entirely for the portal link */
}


@media (max-width: 1650px) {
  .menuIcon {
    display: block;
    color: #fff;
  }
  .divider {
    display: none; /* Hide the divider entirely */
  }

  .navList {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 90%;
    left: 0;
    background-color: #f2f2f2;
    padding: 1rem;
    width: calc(100% - 2rem);
  }

  .navList.show {
    display: flex;
  }

  .navList li {
    margin-bottom: 0.5rem;
  }

  .navList li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    position: relative;
  }

  .portal {
    padding: 0px;
    display: block; /* Change to block to fill the .portalItem area */
    text-decoration: none; /* Removes underline from the link */
    border: none;
    transition: transform 0.3s ease; /* Smooth transition for the zoom effect */
  }
  
  .logo img {
    max-height: 100px; /* Reduce the height for smaller screens */
  }
}