.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto auto; /* Added one more 'auto' for the bottom division */
  min-height: 100vh;
}


.mainContent {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
}

.leftSide {
  padding-left: 10%;
  max-width: 100%;
  overflow: hidden;
}

.rightSide {
  max-width: 100%;
  padding-left: 15%;
}

.bottom {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Allows the text to stack on smaller screens */
  max-height: max-content;
}

/* Styles for screens that are less than 1000px wide */
@media only screen and (max-width: 1250px) {
  .mainContent {
    grid-template-columns: 1fr; /* Sets one column layout */
    grid-template-rows: auto auto; /* Creates two rows */
  }
  .leftSide {
    width: 80%;
    padding-left: 10%;
  }
  .bottomDivision {
    grid-template-columns: 1fr; /* Stacks the columns on top of each other for narrow screens */
  }
  .rightSide{
    padding-left: 5%;
  }
}


.textNiChart .titleBox {
  display: flex;
  align-items: center ;
  margin-bottom: 20px;
}


.textNiChart .title{
  font-family: 'Arial', sans-serif; /* TODO Choose a font that closely matches the image */
  font-weight: bold; 
  font-size: 3.5vw; 
  color: #7A5471;
  align-items: center;
  margin-right: 50px;
}

.textNiChart .text {
  font-family: 'Arial', sans-serif; /* TODO Choose a font that closely matches the image */
  font-weight: bold; 
  font-size: 3vw; 
  color: #800080; 

}

.infographic {
  max-width: 100%;
  height: 80%;
  width: 80%;
  object-fit: contain;
  opacity: 0.7;
}

.semiCircleContainer {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden; 
}

.verticalLayoutContainer {
  display: grid;
  grid-gap: 0; /* No space between grid items */
  align-items: start; /* Align items to the start (top) of the container */
}

.stepCircleContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
  z-index: 2;
}

.semiCircleContainer::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 5px; /* Width of the line */
  height: 5px; /* Height of the line */
  border-bottom: 2px solid black; /* Thickness and color of the line */
  border-radius: 50%;
  transform: translateX(-50%); /* Center align */
  z-index: 0; /* Ensure it's behind the step circles */
}


.stepCircleContainer:hover {
  transform: scale(1.1); /* Scales up the container slightly on hover */
}

.stepCircleSVG {
  width: auto;
  height: auto;
  fill: transparent;
}

.outerCircle {
  fill: transparent;
  stroke: var(--outer-circle-color, #000); /* default color */
  stroke-width: 10;
}

.innerCircle {
  fill: transparent;
}

.circleLabel {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 6px;
  fill: white;
  stroke: black;
  stroke-width: 1px;
  paint-order: stroke;
}

.circleImage {
  width: 100%;
  height: auto;
}

.centralImage {
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-55%, 45%);
  opacity: 0.8;
  width: 50%; /* Set your desired width */
  height: auto; /* Maintain aspect ratio */
  z-index: 1; /* Ensure it's above the background but below the step circles */
}

.bottomDivision {
  font-family: 'Arial', sans-serif; /* Choose a font similar to NiChart text */
  background-color: #491260; 
  font-weight: bold; 
  font-size: 1.5vw; 
  color: white;
  display: flex;
  width: 100%;
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr; /* Creates two columns */
  padding: 3%; /* Adjust padding as needed */
  box-sizing: border-box; /* Ensures padding is included in the width */
  max-height: max-content;
  margin: 1%;
}

.bottomTextColumn {
  margin: 0 10px; /* Adds some space between the text columns */
  max-height: max-content;
}

.bottomDivision ul {
  padding-left: 20px; /* Styles the bullet points with appropriate padding */
}

.bottomDivision li {
  margin-bottom: 10px; /* Adds space between list items */
}

/* Adjustments for smaller screens */
@media only screen and (max-width: 768px) {
  .textNiChart .title, .textNiChart .text {
    font-size: 5.5vw; /* Larger font size since vw units will be smaller on smaller screens */
  }
  .bottomDivision .bottomTextColumn p, .bottomDivision .bottomTextColumn li{
    font-size: 5.5vw;
  }
}

/* Adjustments for very small screens */
@media only screen and (max-width: 480px) {
  .textNiChart .title {
    font-size: 8vw; /* Even larger font size for very small screens */
  }

  .textNiChart .text {
    font-size: 7vw; /* Slightly smaller than title to maintain hierarchy */
  }
  .bottomDivision .bottomTextColumn p, .bottomDivision .bottomTextColumn li {
    font-size: 7vw;
  }
}

@media (max-width: 800px) {
  .bottomDivision {
    grid-template-columns: 1fr; /* Stacks the columns on top of each other for narrow screens */
  }
}

/* For screens narrower than 1000px and wider than 500px */
@media only screen and (min-width: 500px) and (max-width: 1250px) {
  .verticalLayoutContainer {
    grid-template-rows: repeat(3, 0.5fr); /* 3 rows */
    grid-template-columns: auto auto;
  }
}

/* For screens narrower than 500px */
@media only screen and (max-width: 500px) {
  .verticalLayoutContainer {
    grid-template-rows: repeat(6, 1fr); /* 6 rows */
  }
}

/* Style for each StepCircle within the container */
.verticalLayoutContainer > div {
  text-align: left; /* Align the content to the left */
  padding: 0; /* No padding around each item */
}