/* CSS Grid layout for controls */
.controlsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 600px; /* Adjust as needed */
  margin-top: 10px;
}

/* Individual control item */
.controlItem {
  display: flex;
  flex-direction: column;
  align-self: center;
}

/* File Drop Zone */
.fileDropZone {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 2px dashed #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.plotsContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  margin-top: 20px;
}

/* Define the maximum number of columns and adjust for responsive layout */
@media (min-width: 1700px) {
  .plotsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

.instructions {
    
}