.container {
  display:grid;
  grid-template-rows:auto 1fr auto;
  grid-template-columns:100%;

  /* fallback height */
  min-height:100vh;

  /* new small viewport height for modern browsers */
  min-height:100svh;
}

.team_page {
    padding: 2rem;
}

.team_members {
  padding-bottom: 2%;
  margin-bottom: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 2rem;
  align-items: start;
}

.member {
  cursor: pointer;
  text-align: center;
  transition: transform 0.3s ease;
}

.member img {
  width: 200px; /* Fixed width */
  height: 200px; /* Fixed height to match width, ensuring a square */
  object-fit: cover; /* This will cover the area without stretching the image */
  border-radius: 50%; /* This will make the square a circle */
}

.member h3 {
  margin-top: 1rem;
  margin-bottom: 0px;
}

.member p {
  display: none;
  margin-top: 1rem;
  text-align: left;
}

.member.expanded {
  transform: scale(1.1);
}

.member.expanded p {
  display: block;
}

.team_members a {
  text-decoration: none;
  color: #000;
}

.team_members a:hover {
  text-decoration: underline;
}