# Ignore general project files
/node_modules
/dist
/.cache
/.vscode
.env

# Ignore build artifacts
/build
.DS_Store
Thumbs.db

# Ignore package manager files
/yarn.lock
/package-lock.json
*.lockb

# Ignore IDE and editor files
.idea
.vs

# Ignore compiled CSS and JavaScript
*.css.map
*.js.map

# Ignore sensitive or environment-specific information
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore log files
/log
*.log

# Ignore temp files
/temp

# Ignore next.js build artifacts
.next
/out

#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/mock-api-resources
amplify/backend/amplify-meta.json
amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end

# Nifti files, make sure that nothing sensitive gets uploaded.
*.nii.gz
*.nii

# Ignore .csv files that may contain sensitive info:
*.csv

# Apart from the reference data folder:
!/public/content/Portal/Visualization/Reference_Data
# And other explicit exceptions
!/public/content/Portal/Module2
!/public/content/Portal/Visualization/Reference_Data/*.csv
!/public/content/Portal/Visualization/Dicts/*.csv
