alabaster==0.7.14
alembic==1.13.2
apeye==1.4.1
apeye-core==1.1.5
astroid==3.2.3
autodocsumm==0.2.12
Babel==2.15.0
beautifulsoup4==4.12.3
Brotli==1.1.0
CacheControl==0.14.0
certifi==2024.7.4 
cfgv==3.4.0
charset-normalizer==3.3.2
colorlog==6.8.2
cssutils==2.11.1
cycler==0.12.1
dict2css==0.3.0.post1
dill==0.3.8
distlib==0.3.8
docutils==0.20.1
domdf-python-tools==3.9.0
filelock==3.15.4
fonttools==4.53.1
fsspec==2024.6.1
html5lib==1.1
identify==2.6.0
idna==3.7 
imagesize==1.4.1
importlib_metadata==8.0.0
importlib_resources==6.4.0
isort==5.13.2
Jinja2==3.1.4
joblib==1.4.2
kiwisolver==1.4.5
Mako==1.3.5
MarkupSafe==2.1.5
matplotlib==3.9.1
mccabe==0.7.0
more-itertools==10.3.0
mpmath==1.3.0
msgpack==1.0.8
mypy==1.10.1
mypy-extensions==1.0.0
natsort==8.4.0
networkx==3.1
nibabel==5.2.1
nodeenv==1.9.1
numpy==2.0.0
oauthlib==3.2.2
optuna==3.6.1
packaging==24.1
pandas==2.0.3
pillow==10.4.0
platformdirs==4.2.2
pooch==1.8.2
pre-commit==3.5.0
Pygments==2.18.0
pylint==3.2.5
pyparsing==3.1.2
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
requests==2.32.3
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
scikit-learn==1.5.1
scipy==1.14.0
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.5
setuptools==54.0.0
Sphinx==7.4.7
sphinx-autodoc-typehints==2.0.1
sphinx-jinja2-compat==0.3.0
sphinx-prompt==1.8.0
sphinx-rtd-theme==2.0.0
sphinx-tabs==3.4.5
sphinx-toolbox==3.7.0
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.9
SQLAlchemy==2.0.31
sympy==1.13.0
tabulate==0.9.0
threadpoolctl==3.5.0
tomli==2.0.1
tomlkit==0.13.0
torch==2.2.1
torchvision==0.17.1
tqdm==4.66.4
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
virtualenv==20.26.3
webencodings==0.5.1
zipp==3.19.2
